body {
  padding: 0px;
  margin: 0px;
}

* {
  font-family: Avenir Next, Helvetica Neue, Helvetica,sans-serif;
}

.sc-launcher {display: none;}
.sc-chat-window {
  right: 10px !important; 
  bottom: 10px !important;
  width: calc(100% - 20px) !important;
  height: calc(100% - 20px) !important;
  max-height: 100% !important;
}
.sc-header--close-button {display: none;}
.sc-user-input--file-icon-wrapper {display: none !important;}
.sc-header {background: #2a9ca4 !important;}
.sc-user-input--text {width: 100% !important;}
.sc-message {min-width: 300px; width: 70%;}
